body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2575fc;
  }
  
  .login-box {
    background-color:#0997c6;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  